.sectionAppExpenseFilter {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px 10px;
  animation: fade 1s;
}
.sectionAppExpenseFilterAreaLeft {
  display: flex;
  align-items: flex-start;
}
.sectionAppExpenseFilterContainer {
  position: relative;
  width: 200px;
  margin-right: 30px;
}
.sectionAppExpenseFilterContainer:nth-child(4) {
  width: auto;
  margin-right: 0;
}
.sectionAppExpenseFilterAll,
.sectionAppExpenseFilterCategory {
  position: absolute;
  width: 100%;
  color: #8491A5;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 0px rgba(227, 78, 78, 0.7), 
  0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
.sectionAppExpenseFilterAll {
  animation: moveTop 1s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
.sectionAppExpenseFilterCategory {
  animation: moveTop 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.sectionAppTwoFilterDadosDate {
  animation: moveTop 1s;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
.sectionAppTwoFilterDadosDate input {
  display: block;
  width: 100%;
  border-radius: 18px;
  padding: 7px 10px;
  font-size: 15px;
  color: #8491A5;
  font-weight: 500;
  box-shadow: 0px 4px 0px rgba(227, 78, 78, 0.7), 
  0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.sectionAppTwoFilterDadosDate input:focus{
  outline: 0;
  border: none;
}
.sectionAppExpenseFilterAllActive,
.sectionAppExpenseFilterCategoryActive {
  display: flex;
  align-items: center;
  margin: 5px 10px 5px 10px;
  cursor: pointer;
}
.sectionAppExpenseFilterAllActive img,
.sectionAppExpenseFilterCategoryActive  img{
  margin-left: auto;
}
.sectionAppExpenseFilterCategoryNav {
  height: 200px;
  overflow: auto;
}
.sectionAppExpenseFilterAllNav ul,
.sectionAppExpenseFilterAllNav li,
.sectionAppExpenseFilterCategoryNav ul,
.sectionAppExpenseFilterCategoryNav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sectionAppExpenseFilterAllNav li,
.sectionAppExpenseFilterCategoryNav li {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.sectionAppExpenseFilterAllNav li:hover,
.sectionAppExpenseFilterCategoryNav li:hover {
  background-color: #E34E4E;
  border-radius: 18px;
  padding: 5px 10px;
  color: #FFFFFF;
}
.sectionAppExpenseFilterButton {
  cursor: pointer;
  animation: moveTop 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.sectionAppExpenseFilterButtonMobile {
  display: none;
}
.sectionAppExpenseThrow {
  margin-left: auto;
  padding: 10px 30px;
  background: linear-gradient(98.58deg, #E34E4E 8.34%, #636D7C 91.96%);
  box-shadow: 0px 4px 20px rgba(132, 145, 165, 0.6);
  border-radius: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  cursor: pointer;
  transition: 1s;
  animation: moveTop 1s;
  animation-delay: 1.25s;
  animation-fill-mode: backwards;
}
.sectionAppExpenseThrow h4 {
  font-weight: 500;
  margin-left: 15px;
}
.sectionAppExpenseThrow:hover {
  background: #E34E4E;
}




/* Menssagem caso o usuário não possua nem uma conta a pagar naquele mês */
.sectionAppMessageExpense {
  margin-top: 30px;
  width: 100%;
  padding: 10px 10px;
  border: 2px solid #E34E4E;
  border-radius: 18px;
  text-align: center;
  animation: moveRight 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
.sectionAppMessageExpense h3 {
  font-weight: 600;
  color: #555555;
}


/* Total */
.areaPayStatus {
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 18px;
  padding: 20px 10px;
  display: flex;
  width: 100%;
  animation: moveRight 1.5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.paidExpenses {
  flex: 1;
  margin-right: 15px;
  text-align: center;
}
.payExpenses {
  flex: 1;
  text-align: center;
}
.paidExpenses h4, .payExpenses h4 {
  color: #9A9A9A;
}


/* MODAL INSERÇÃO NOVA DESPESA / MODAL UPDTADE DE INSERÇÃO */
.newExpensesArea,
.updateExpensesArea {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  opacity: 0;
  transition: 1s;
  transform: translate3d(0,0,-100px);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.ExpensesAreaAnimation {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.newExpensesExit,
.updateExpensesExit {
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: absolute;
}

.newExpensesForm,
.updateExpensesForm {
  width: 60%;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(231, 231, 231,0.25);
  z-index: 4;
  position: relative;
  padding: 10px;
}
.newExpensesFormTitle,
.updateExpensesFormTitle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCCCCC;
}
.newExpensesFormTitle img,
.updateExpensesFormTitle img {
  margin-right: 15px;
}
.newExpensesFormTitle h3,
.updateExpensesFormTitle h3 {
  color: #555555;
  font-weight: 500;
}
.newExpensesForm p,
.updateExpensesForm p{
  margin-top: 5px;
}

/* INPUNTS FORM */
.newExpensesLine label,
.updateExpensesLine label{
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.newExpensesLine label img,
.updateExpensesLine label img{
  margin-top: 5px;
  margin-right:10px;
  margin-left: 15px;
}
.newExpensesLine:nth-child(1) input,
.newExpensesLine:nth-child(2) input,
.newExpensesLine:nth-child(3) select,
.updateExpensesLine:nth-child(1) input,
.updateExpensesLine:nth-child(2) input,
.updateExpensesLine:nth-child(3) select{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: #555555;
  font-weight: 500;
  border-radius: 18px;
  border: 1px solid #ccddef;
  left: auto;
  margin-bottom: 15px;
}
.newExpensesLine:nth-child(4) select,
.newExpensesLine:nth-child(4) input{
  width: 50%;
  padding: 10px;
  font-size: 15px;
  color: #555555;
  font-weight: 500;
  border-radius: 18px;
  border: 1px solid #ccddef;
  left: auto;
  margin-bottom: 15px;
}
/* left */
.newExpensesValue,
.newExpensesWallet,
.updateExpensesValue,
.updateExpensesWallet {
  width: 50%;
  margin-right: 20px;
}
/* right */
.newExpensesDate,
.newExpensesCategory,
.updateExpensesDate,
.updateExpensesCategory{
  width: 50%;
}
.newExpensesLine:nth-child(1) input:focus,
.newExpensesLine:nth-child(2) input:focus,
.newExpensesLine:nth-child(3) select:focus,
.newExpensesLine:nth-child(4) select:focus,
.newExpensesLine:nth-child(4) input:focus,
.updateExpensesLine:nth-child(1) input:focus,
.updateExpensesLine:nth-child(2) input:focus,
.updateExpensesLine:nth-child(3) select:focus {
  border: 1px solid #E34E4E;
  outline: 0;
  font-weight: 600;
}
.expensesRepetitionSelects {
  display: flex;
  width: 100%;
  align-items: center;
}
.newExpensesLine:nth-child(4) select:nth-child(1) {
  margin-right: 20px;
}
.newExpensesLine:nth-child(4) select:nth-child(2),
.newExpensesLine:nth-child(4) input{
  border: 2px solid #ccddef;
}
/* linhas com display flex */
.newExpensesLine:nth-child(2),
.newExpensesLine:nth-child(3),
.updateExpensesLine:nth-child(2),
.updateExpensesLine:nth-child(3) {
  display: flex;
}
.newExpensesForm form button,
.updateExpensesForm form button {
  display: block;
  margin: auto;
  margin-top: 20px;
  border: none;
  padding: 10px 50px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(98.8deg, #E34E4E 8.34%, #636D7C 91.96%);
  box-shadow: 0px 4px 4px rgba(89, 223, 131, 0.25);
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}
.newExpensesForm form button:hover,
.updateExpensesForm form button:hover {
  padding: 10px 100px;
}
.newExpensesForm form button:focus,
.updateExpensesForm form button:focus{
  border: none;
  outline: 0;
}
/* Responsividade */
@media (max-width: 575px) { 
  .sectionAppExpenseFilter {
    flex-direction: column;
  }
  .sectionAppExpenseFilterAreaLeft {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
  }
  .sectionAppExpenseFilterContainer {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .sectionAppExpenseFilterContainer:nth-child(4) {
    margin-bottom: 0;
  }
  .sectionAppExpenseFilterAll {
    z-index: 2;
  }
  .sectionAppExpenseFilterCategory {
    z-index: 1;
  }
  .sectionAppExpenseFilterButton {
    display: none;
  }
  .sectionAppExpenseFilterButtonMobile {
    display: block;
    padding: 10px 80px;
    border-radius: 18px;
    color: #ffffff;
    background: linear-gradient(270deg, #636D7C 20%, #E34E4E 86%);
    transition: 1s;
  }
  .sectionAppExpenseFilterButtonMobile:hover{
    background: #E34E4E;
  }
  .sectionAppExpenseThrow {
    margin: auto;
  }
  .areaPayStatus {
    margin-bottom: 70px;
  }
  .paidExpenses h4, .payExpenses h4 {
    font-size: 15px;
  }
  .newExpensesForm,
  .updateExpensesForm {
    width: 95%;
  }
  .updateExpensesForm form button {
    font-size: 16px;
  }
}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sectionAppExpenseFilter {
    flex-direction: column;
  }
  .sectionAppExpenseFilterContainer {
    width: 145px;
    margin-right: 10px;
  }
  .sectionAppExpenseFilterAreaLeft {
    margin-bottom: 15px;
  }
  .sectionAppExpenseThrow {
    margin: auto;
    margin-top: 20px;
  }
  .areaPayStatus {
    margin-bottom: 70px;
  }
  .newExpensesForm,
  .updateExpensesForm {
    width: 90%;
  }
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionAppExpenseFilterContainer {
    width: 200px;
    margin-right: 10px;
  }
  .sectionAppExpenseFilter {
    flex-direction: column;
  }
  .sectionAppExpenseThrow {
    margin: auto;
    margin-top: 20px;
  }
  .areaPayStatus {
    margin-bottom: 70px;
  }
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionAppExpenseFilterContainer {
    width: 200px;
    margin-right: 10px;
  }
  .sectionAppExpenseFilter {
    flex-direction: column;
  }
  .sectionAppExpenseThrow {
    margin: auto;
    margin-top: 20px;
  }
  
}
@media (min-width: 1200px) { }