.sectionAppTwo {
  display: flex;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  margin-top: 30px;
  padding: 20px 10px;
  animation: fade 1s;
}
.sectionAppTwoFilter {
  display: flex;
  align-items: flex-start;
}
.sectionAppTwoFilterContainer {
  position: relative;
  width: 250px;
  margin-right: 30px;
}
.sectionAppTwoFilterDadosReceive {
  animation: moveTop 1s;
  animation-fill-mode: backwards;
} 
.sectionAppTwoFilterDadosCategory {
  animation: moveTop 1s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
.sectionAppTwoFilterContainer:nth-child(3) {
  margin: 0;
  width: auto;
  animation: moveTop 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.sectionAppTwoFilterDadosReceive,
.sectionAppTwoFilterDadosCategory{
  color: #8491A5;
  background: #FFFFFF;
  box-shadow: 0px 4px 0px rgba(89, 223, 131, 0.7), 
  0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  position: absolute;
  width: 100%;
}
.sectionAppTwoFilterDadosReceive h4,
.sectionAppTwoFilterDadosCategory h4 {
  font-weight: 600;
}
.sectionAppTwoFilterActiveReceive,
.sectionAppTwoFilterActiveCategory {
 display: flex;
 align-items: center;
 margin: 5px 10px 5px 10px;
 cursor: pointer;
}
.sectionAppTwoFilterActiveReceive img,
.sectionAppTwoFilterActiveCategory img{
  margin-left: auto;
}

.sectionAppTwoFilter ul,
.sectionAppTwoFilter li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.sectionAppTwoFilter li {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.sectionAppTwoFilter li:hover {
  background-color: #59DF83;
  border-radius: 18px;
  padding: 5px 10px;
  color: #FFFFFF;
}

.sectionAppTwoFilterNav {
  margin-top: 10px;
  
}
.sectionAppTwoRecive {
  margin-left: auto;
  padding: 10px 30px;
  background: linear-gradient(270deg, #34F06F 20%, #13C5A5 86%);
  border-radius: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  cursor: pointer;
  animation: moveTop 1s;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
.sectionAppTwoRecive h4 {
  font-weight: 500;
  margin-left: 15px;
}
.sectionAppTwoRecive:hover { 
  background: #34F06F;
}
.sectionAppTwoFilterSubmite {
  cursor: pointer;
}

.sectionAppThreeMessage {
  margin-top: 30px;
  width: 100%;
  padding: 10px 10px;
  border: 2px solid #59DF83;
  border-radius: 18px;
  text-align: center;
  animation: moveRight 1.25s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.sectionAppThreeMessage h3 {
  color: #555555;
  font-weight: 600;
}

.sectionAppTwoFilterSubmiteMobile {
  display: none;
}

@media (max-width: 575px) { 
  .sectionAppTwo {
    flex-direction: column;
  }
  .sectionAppTwoFilter {
    flex-direction: column;
  }
  .sectionAppTwoFilterContainer {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .sectionAppTwoFilterContainer:nth-child(3) {
    margin: auto;
  }
  .sectionAppTwoFilterSubmite {
    display: none;
  }
  .sectionAppTwoFilterSubmiteMobile {
    display: block;
    padding: 10px 80px;
    border-radius: 18px;
    color: #ffffff;
    background: linear-gradient(270deg, #13C5A5 20%, #34F06F 86%);
    margin-bottom: 15px;
  }
  .sectionAppTwoFilterSubmiteMobile:hover { 
    background: #34F06F;
  }
  .sectionAppTwoRecive {
    margin: auto;
  }
  
}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sectionAppTwoFilterContainer {
    width: 145px;
    margin-right: 10px;
  }
  .sectionAppTwoFilter li {
    font-size: 14px;
  }
  .sectionAppTwoRecive {
    padding: 10px;
  }
  
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionAppTwoFilterContainer {
    width: 200px;
    margin-right: 10px;
  }
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionAppTwoFilterContainer {
    width: 200px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) { }