.sectionAppTasksFilter {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  align-items: center;
  display: flex;
  margin-top: 30px;
  padding: 20px 10px;
  animation: fade 1s;
}
.sectionAppTasksFilterAreaLeft {
  display: flex;
  align-items: flex-start;
}
.sectionAppTasksFilterContainer {
  position: relative;
  width: 200px;
  margin-right: 30px;
}
.sectionAppTasksFilterContainer:nth-child(3){
  width: auto;
  margin-right: 0;
}
.sectionAppTasksFilterAll {
  animation: moveTop 1s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
  position: absolute;
  width: 100%;
  color: #8491A5;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 0px rgba(90, 142, 222, 0.7), 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
.sectionAppTasksFilterAllActive {
  display: flex;
  align-items: center;
  margin: 5px 10px 5px 10px;
  cursor: pointer;
}
.sectionAppTasksFilterAllActive img {
  margin-left: auto;
}
.sectionAppTasksFilterAllNav ul,
.sectionAppTasksFilterAllNav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sectionAppTasksFilterAllNav li {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.sectionAppTasksFilterAllNav li:hover {
  background: #5A8EDE;
  color: #ffffff;
  border-radius: 18px;
}
.sectionAppTwoFilterDadosDate {
  animation: moveTop 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.sectionAppTwoFilterDadosDate input {
  display: block;
  width: 100%;
  border-radius: 18px;
  padding: 7px 10px;
  font-size: 15px;
  color: #8491A5;
  font-weight: 500;
  box-shadow: 0px 4px 0px rgba(90, 142, 222, 0.7), 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.sectionAppTwoFilterDadosDate input:focus {
  outline: 0;
  border: 0;
}
.sectionAppTasksFilterButton {
  cursor: pointer;
  animation: moveTop 1s;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
.sectionAppTasksFilterButtonMobile {
  display: none;
}
.sectionAppTasksThrow {
  margin-left: auto;
  padding: 10px 50px;
  background: linear-gradient(98.58deg, #5A8EDE 8.34%, #636D7C 91.96%);
  box-shadow: 0px 4px 20px rgba(132, 145, 165, 0.6);
  border-radius: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  cursor: pointer;
  transition: 1s;
  animation: moveTop 1s;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
.sectionAppTasksThrow:hover{
  background: #5A8EDE;
}
.sectionAppTasksThrow h4 {
  font-weight: 500;
  margin-left: 15px;
}


.sectionAppMessageTasks {
  margin-top: 30px;
  width: 100%;
  padding: 10px 10px;
  border: 2px solid #5A8EDE;
  border-radius: 18px;
  text-align: center;
  animation: moveRight 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.sectionAppMessageTasks h3 {
  font-weight: 600;
  color: #555555;
}


/* Tabela de tarefas */
.sectionAppTableTasks {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  animation: fade 1s;
  animation-delay: 1.25s;
  overflow: hidden;
  animation-fill-mode: backwards;
}
.sectionAppTableTitleTasks {
  padding: 10px 5px;
  width: 100%;
  animation: moveRight 1s;
  animation-delay: 1.75s;
  animation-fill-mode: backwards;
}
.sectionAppTableItemTasks {
  margin-bottom: 15px;
  text-transform: none;
  animation: moveRight 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
.sectionAppTableTitleTasks,
.sectionAppTableItemTasks {
  width: calc(100vw - 321px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  color: #9A9A9A;
  padding: 15px 0px;
  font-weight: 600;
  margin-bottom: 30px;
}
.sectionAppTableTitleTasks p {
  margin: 0px 15px 0 15px;
}
.sectionAppTableItemTasks p {
  margin: 0px 15px 0 15px;
  font-size: 16px;
}
.sectionAppTableItemTasks:nth-child(even) {
  background-color: #F5FEFB;
}
.sectionAppTableItemTasks:nth-child(odd) {
  background-color: #E9FAF4;
}
.sectionAppTableTitleTasks .desc,
.sectionAppTableItemTasks .desc {
  min-width: 70%;
  max-width: 70%;
  text-align: start;
  word-wrap:break-word
}
.sectionAppTableTitleTasks .date,
.sectionAppTableItemTasks .date {
  min-width: 22%;
  max-width: 22%;
  display: flex;
  justify-content: center;
}
.sectionAppTableItemTasks .date span {
  width: 40%;
  display: flex;
}
.sectionAppTableItemTasks .date img {
  margin: 0 0 0 auto;
}



.newTasksArea,
.updateTasksArea {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  opacity: 0;
  transition: 1s;
  transform: translate3d(0,0,-100px);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.TasksAreaAnimation {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.newTasksExit,
.updateTasksExit{
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: absolute;
}
.newTasksForm,
.updateTasksForm {
  width: 60%;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(231, 231, 231,0.25);
  z-index: 4;
  position: relative;
  padding: 10px;
}
.newTasksFormTitle,
.updateTasksFormTitle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCCCCC;
}
.newTasksFormTitle img,
.updateTasksFormTitle img {
  margin-right: 10px;
}
.newTasksFormTitle h3,
.updateTasksFormTitle h3 {
  color: #555555;
  font-weight: 500;
}
.newTasksLine label
.updateTasksLine label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.newTasksLine label img,
.updateTasksLine label img {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 15px;
}
.newTasksLine:nth-child(1) textarea,
.updateTasksLine:nth-child(1) textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: #555555;
  font-weight: 500;
  border-radius: 18px;
  border: 1px solid #ccddef;
  left: auto;
  margin-bottom: 15px;
  height: 200px;
}
.newTasksLine:nth-child(2) input,
.newTasksLine:nth-child(2) select,
.updateTasksLine:nth-child(2) input,
.updateTasksLine:nth-child(2) select,
.updateTasksLine:nth-child(3) select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: #555555;
  font-weight: 500;
  border-radius: 18px;
  border: 1px solid #ccddef;
  left: auto;
  margin-bottom: 15px;
}

.newTasksLine:nth-child(1) textarea:focus,
.newTasksLine:nth-child(2) input:focus,
.newTasksLine:nth-child(2) select:focus,
.updateTasksLine:nth-child(1) textarea:focus,
.updateTasksLine:nth-child(2) input:focus,
.updateTasksLine:nth-child(2) select:focus,
.updateTasksLine:nth-child(3) select:focus {
  border: 1px solid #5A8EDE;
  outline: 0;
  font-weight: 600;
}
.newTasksLine:nth-child(2),
.updateTasksLine:nth-child(2) {
  display: flex;
}
.newTasksDate,
.updateTasksDate {
  width: 50%;
  margin-right: 20px;
}
.newTasksWallet,
.updateTasksWallet {
  width: 50%;
}
.newTasksForm form button,
.updateTasksForm form button {
  display: block;
  margin: auto;
  margin-top: 20px;
  border: none;
  padding: 10px 50px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(98.58deg, #5A8EDE 8.34%, #636D7C 91.96%);
  box-shadow: 0px 4px 4px #5a8fde46;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}
.newTasksForm form button:hover,
.updateTasksForm form button:hover{
  padding: 10px 100px;
}
.newTasksForm form button:focus,
.updateTasksForm form button:focus {
  border: none;
  outline: 0;
}

@media (max-width: 575px) {
  .sectionAppTasksFilter{
    flex-direction: column;
  }
  .sectionAppTasksFilterAreaLeft {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
  }
  .sectionAppTasksFilterContainer {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .sectionAppTasksFilterContainer:nth-child(3) {
    margin-bottom: 0;
  }
  .sectionAppTasksFilterAll {
    z-index: 1;
  }
  .sectionAppTasksFilterButton {
    display: none;
  }
  .sectionAppTasksFilterButtonMobile {
    display: block;
    padding: 10px 86px;
    border-radius: 18px;
    color: #ffffff;
    background: linear-gradient(270deg, #636D7C 20%, #5A8EDE 86%);
    transition: 1s;
  }
  .sectionAppTasksThrow {
    margin: auto;
  }
  .sectionAppTableTasks {
    margin-bottom: 70px;
  }
  .sectionAppTableTitleTasks, 
  .sectionAppTableItemTasks {
    width: calc(100vw - 30px);
  }
  .sectionAppTableTitleTasks p,
  .sectionAppTableItemTasks p {
    font-size: 14px;
    margin: 0px 8px 0 8px;
  }
  .sectionAppTableTitleTasks .desc, 
  .sectionAppTableItemTasks .desc {
    min-width: 40%;
    max-width: 40%;
    margin-right: 20px;
  }
  .sectionAppTableTitleTasks .date, 
  .sectionAppTableItemTasks .date {
    min-width: 40%;
    max-width: 40%;
    flex-direction: column;
    align-items: center;
  }
  .sectionAppTableItemTasks .date img {
    margin: 10px 20px 0 0;
  }
  .sectionAppTableItemTasks .date img:nth-child(3) {
    margin: 10px 0 0 0;
  }
  .newTasksForm,
  .updateTasksForm {
    width: 95%;
  }
}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sectionAppTableTasks {
    margin-bottom: 70px;
  }
  .sectionAppTableTitleTasks, 
  .sectionAppTableItemTasks {
    width: calc(100vw - 30px);
  }
  .sectionAppTableTitleTasks .desc,
  .sectionAppTableItemTasks .desc {
    max-width: 50%;
    min-width: 50%;
  }
  .sectionAppTableTitleTasks .date,
  .sectionAppTableItemTasks .date {
    min-width: 40%;
    max-width: 40%;
  }
  .sectionAppTableItemTasks .date span {
    margin-left: 16px;
  }
  .sectionAppTasksFilter {
    flex-direction: column;
  }
  .sectionAppTasksThrow {
    margin: auto;
    margin-top: 20px;
  }
  .newTasksForm,
  .updateTasksForm {
    width: 90%;
  }
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionAppTableTasks {
    margin-bottom: 70px;
  }
  .sectionAppTableTitleTasks, 
  .sectionAppTableItemTasks {
    width: calc(100vw - 30px);
  }
  .sectionAppTableTitleTasks .desc,
  .sectionAppTableItemTasks .desc {
    max-width: 55%;
    min-width: 55%;
  }
  .sectionAppTableTitleTasks .date,
  .sectionAppTableItemTasks .date {
    min-width: 35%;
    max-width: 35%;
  }
  .sectionAppTableItemTasks .date span {
    width: 40%;
    display: flex;
  }
  .sectionAppTasksFilter {
    flex-direction: column;
  }
  .sectionAppTasksThrow {
    margin: auto;
    margin-top: 20px;
  }
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionAppTableTitleTasks .desc,
  .sectionAppTableItemTasks .desc {
    max-width: 55%;
    min-width: 55%;
  }
  .sectionAppTableTitleTasks .date,
  .sectionAppTableItemTasks .date {
    min-width: 35%;
    max-width: 35%;
  }
  .sectionAppTableItemTasks .date span {
    width: 40%;
    display: flex;
  }
  .sectionAppTasksFilter {
    flex-direction: column;
  }
  .sectionAppTasksThrow {
    margin: auto;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) { }
