.sectionHomeOne {
  height: calc(100vh - 70px);
  background: url(../../images/home/index/homeBackgroundLeft.svg) 
  no-repeat left top;
  background-size: 100vh;
  background-color: #5A5A75;
  display: flex;
  align-items: center;
}
.sectionHomeOneArea {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionHomeOneInfo {
  max-width: 620px;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 20px;
}
.sectionHomeOneInfo h2 {
  font-size: 40px;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}
.sectionHomeOneInfo h2::after{
  content: '|';
  margin-left: 5px;
  animation: blinks .7s infinite;
}
@keyframes blinks {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}
.sectionHomeOneInfoDesc {
  opacity: 0;
  transform: translate3d(0,0,-100px);
  transition: 1s;
}
.sectionHomeOneInfoDesc p {
  margin: 30px 0 60px 0;
  color: #fff;
  text-align: justify;
}
.sectionHomeOneInfoDescButton {
  opacity: 0;
  transform: translate3d(0,0,-100px);
  transition: 1s;
  text-align: center;
}
.sectionHomeOneInfoDescButton a {
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 100px;
  background-color: #34F06F;
  border-radius: 18px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  transition: all 2s;
  animation: pulse 1.5s linear infinite;
}
@keyframes pulse{
  0%{
    box-shadow: 0 0 0 0 rgba(89, 223, 131, 1);
  }
  100%{
    box-shadow: 0 0 0 25px rgba(89, 223, 131, 0);
  }
}
.sectionHomeOneInfoDescButton a:hover {
  background: #ffffff;
  color: #59DF83;
}

/*
  -------------------- sectionHomeOne --------------------
*/

.sectionHomeTwoInfoTitle h2{
  color: #555555;
  margin: 50px 0 30px;
  text-align: center;
}
.sectionHomeTwoInfoDesc h4 {
  color: #8491A5;
  font-weight: 500;
  margin:0 40px 50px 40px;
  text-align: center;
}
.sectionHomeTwoInfoCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sectionHomeTwoCards {
  background-color: #fff;
  margin: 0px 40px 60px;
  width: auto;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  transition: 1s;
  border-radius: 8px;
}
.sectionHomeTwoCardsImg {
  text-align: center;
}
.sectionHomeTwoCards:hover{
  box-shadow: 0px 5px 0px rgba(89, 223, 131, 0.8);
}
.sectionHomeTwoCards h3 {
  color: #555555;
  text-align: start;
  margin: 15px 20px 30px;
}
.sectionHomeTwoCards p {
  color: #636D7C;
  margin: 0 20px 0;
  text-align: justify;
  font-weight: 500;
}

/*
  -------------------- sectionHomeTwo --------------------
*/

.sectionHomeThree {
  background: url(../../images/home/index/EllipseLeft.svg) no-repeat left bottom, 
  url(../../images/home/index/EllipseRight.svg) no-repeat right bottom, 
  linear-gradient(262.14deg, #59DF83 38.17%, #13C5A5 97.69%);
  display: flex;
}
.sectionHomeThreeAreaTitle {
  color: #555555;
  font-weight: 900;
  margin: 40px 0 50px 0;
}
.sectionHomeThreeAreaInfo {
  display: flex;
  justify-content: center;

}
.sectionHomeThreeAreaInfoDesc {
  margin-bottom: 50px;
  padding-top: 40px;
}
.sectionHomeThreeAreaInfoDesc div{
  text-align: center;
}
.sectionHomeThreeAreaInfoDesc h4 {
  color: #555555;
  text-align: justify;
  font-weight: 500;
  margin: 0 20px 40px 0;
}
.sectionHomeThreeAreaInfoDesc a {
  background-color: #6E737C;
  color: #fff;
  padding: 10px 100px;
  text-decoration: none;
  border-radius: 18px;
  transition: 2s;
  font-weight: 700;
}
.sectionHomeThreeAreaInfoDesc a:hover {
  background-color: #59DF83;
}
.sectionHomeThreeAreaInfoImg img{
  max-width: 700px;
  height: auto;
  margin-bottom: 50px;
}

/*
  -------------------- sectionHomeThree --------------------
*/


.sectionHomeFour {
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
}

.sectionHomeFourHelpIcon {
  max-width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.sectionHomeFourHelpIcon img {
  width: 583px;
}
.sectionHomeFourInfo {
  text-align: center;
}
.sectionHomeFourInfo h2 {
  color: #555555;
  font-weight: 700;
  margin-bottom: 15px;
}

.sectionHomeFourInfo h4 {
  color: #8491A5;
  font-weight: 500;
  margin-bottom: 50px;
}
.sectionHomeFourHelps {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.sectionHomeFourHelp {
  margin: 15px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0px 4px 4px #59DF83;
  animation: gradientsHelp 5s infinite;
  border: 1px solid #ccc;
  flex-basis: calc(50% - 30px);

}
@keyframes gradientsHelp {
  0%, 50%, 100%  {box-shadow: 0px 4px 4px #59DF83;}
  25%, 75% {box-shadow: 0px 4px 4px rgb(89, 223, 131, 0.5);}
}
.iconPlus::before {
  content: url(../../images/home/index/iconPlus.svg);
  margin: 0px 10px 0px 20px;
}
.iconMinus::before {
  content: url(../../images/home/index/iconMinus.svg);
  margin: 0px 10px 0px 20px;
}
.sectionHomeFourHelp h4 {
  color: #555555;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.sectionHomeFourHelp p {
  font-weight: 500;
  text-align: justify;
  padding-top: 15px;
  color: #555555;
  border-top: 1px solid #ccc;
  margin: 0px auto 15px;
}

@media (max-width: 575px) { 
  .sectionHomeOne {
    height: auto;
  }
  .sectionHomeOneArea {
    flex-wrap: wrap-reverse;
    padding-top: 20px;
  }
  .sectionHomeOneArea img {
    width: 350px;
  }
  .sectionHomeOneInfoDesc p {
    margin: 10px 0 40px 0;
  }
  .sectionHomeOneInfo h2 {
    font-size: 30px;
  }
  .sectionHomeOneInfoDescButton a {
    padding: 10px 60px;
  }
  .sectionHomeTwoCards {
    margin: 0px 0px 30px;
  } 
  .sectionHomeThreeAreaTitle {
    margin: 40px 0 40px 0;
  }
  .sectionHomeThreeAreaInfoImg img {
    display: none;
  }
  .sectionHomeThreeAreaInfoDesc,
  .sectionHomeThreeAreaInfoDesc h4 {
    padding-top:0;
    margin-right: 0;
  }
  .sectionHomeThreeAreaInfoDesc a {
    padding: 10px 60px;
  }
  .sectionHomeFourHelpIcon img {
    width: 300px;
  }
  .sectionHomeFourHelps {
    flex-direction: column;
  }
  .sectionHomeFourHelp {
    width: 100%;
    margin: 0px;
    margin-bottom: 15px;
  }
  
}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sectionHomeOne {
    height: auto;
  }
  .sectionHomeOneArea {
    flex-wrap: wrap-reverse;
    padding-top: 20px;
  }
  .sectionHomeTwoCards {
    margin: 0px 40px 30px;
  }
  .sectionHomeThreeAreaTitle {
    margin: 40px 0 40px 0;
  }
  .sectionHomeThreeAreaInfoImg img {
    display: none;
  }
  .sectionHomeThreeAreaInfoDesc,
  .sectionHomeThreeAreaInfoDesc h4 {
    padding-top:0;
    margin-right: 0;
  }
  .sectionHomeFourHelpIcon img {
    width: 300px;
  }
  .sectionHomeFourHelps {
    flex-direction: column;
  }
  .sectionHomeFourHelp {
    width: 100%;
    margin: 0px;
    margin-bottom: 15px;
  }
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionHomeOne {
    height: auto;
    background-size: 100%;
  }
  .sectionHomeOneArea {
    flex-wrap: wrap-reverse;
    padding-top: 20px;
  }
  .sectionHomeOneInfoDesc p {
    font-size: 20px;
  }
  .sectionHomeOneInfoDescButton a {
    font-size: 25px;
  }
  .sectionHomeThreeAreaTitle {
    margin: 40px 0 40px 0;
  }
  .sectionHomeThreeAreaInfoImg img {
    display: none;
  }
  .sectionHomeThreeAreaInfoDesc,
  .sectionHomeThreeAreaInfoDesc h4 {
    padding-top:0;
    margin-right: 0;
  }
  .sectionHomeFourHelpIcon img {
    width: 300px;
  }
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionHomeOne {
    height: auto;
    background-size: 100%;
    background-size: 50% 100%;
  }
  .sectionHomeOneArea img {
    width: 400px;
  }
  .sectionHomeThreeAreaInfoDesc {
    padding-top: 10px;
  }
  .sectionHomeThreeAreaInfoDesc h4 {
    font-size: 15px;
  }
  .sectionHomeThreeAreaInfoImg img {
    width: 450px;
  }
}
@media (min-width: 1200px) { }