.sectionResetPassword {
  background: #E9FAF4;
}
.sectionResetPasswordArea {
  padding: 100px 0;
  animation: fade 1s;
}
.sectionResetPasswordArea h2 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #555555;
  text-align: center;
  animation: moveRight 1s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
.ResetPassword {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.ResetPassword form {
  width: 60%;
  max-width: 400px;
  margin: auto;
}
.formInvalid {
  animation: invalid 0.3s linear;
  animation-iteration-count: 2;
}
@keyframes invalid {
  0%, 100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}
.ResetPassword input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  color: #555555;
  font-weight: 500;
  border-radius: 18px;
  border: 1px solid #ccddef;
  left: auto;
  margin-bottom: 30px;
}
.inputPassword {
  animation: moveRight 1s;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
.inputConfirmPassword {
  animation: moveRight 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.ResetPassword input:focus {
  border: 1px solid #34F06F;
  outline: 0;
  font-weight: 600;
}
.ResetPassword label {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-left: 15px;
  font-size: 14px;
  color: #555555;
  font-weight: 600;
}
.ResetPassword button {
  display: block;
  background-color: #34F06F;
  color: #fff;
  font-weight: 600;
  border-radius: 18px;
  border: none;
  padding: 10px 100px;
  margin: auto;
  font-size: 16px;
  margin-bottom: 20px;
  transition: 1s;
  animation: moveRight 1s;
  animation-delay: 1.25s;
  animation-fill-mode: backwards;
  box-shadow: 0px 5px 4px rgba(52, 240, 111, 0.3);
}
.ResetPassword button:hover {
  padding: 10px 120px;
  background-color: #ffffff;
  color: #34F06F;
}
.ResetPassword button:focus {
  border: 1px solid #555555;
  outline: 0;
}




@media (max-width: 575px) { 
  .ResetPassword form {
    width: 100%;
  }
  .ResetPassword button {
    padding: 10px 60px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ResetPassword button {
    padding: 10px 60px;
  }
}
  
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
}
@media (min-width: 1200px) { }
