#-----------------------------------------------------------
# Concertar erro 500
#-----------------------------------------------------------
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php

#-----------------------------------------------------------
# Concertar erro ERR_TOO_MANY_REDIRECTS
#-----------------------------------------------------------
RewriteEngine On
RewriteCond %{HTTPS} !on [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ https://organizepessoal.herokuapp.com%{REQUEST_URI} [R=302,L,NE]


<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files ~ "^(index)\.(p?s?x?htm?|txt|aspx?|cfml?|cgi|pl|php[3-9]|jsp|xml)$">
order allow,deny
deny from all
</Files>
