* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}


body {
  font-family: 'Montserrat', sans-serif, Helvetica;
  background: #f8f8f8;
  position: relative;
}
h1, h2, h3, h4 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

.container {
  display: block;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
.containerApp {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.sectionAppArea {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
}


@media (max-width: 575px) { 
  
}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {font-size: 2em;}

  h2 {font-size: 1.7em;}

  h3 {font-size: 1.2em;}

  h4 {font-size: 16px;}

  p {font-size: 14px;}
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {font-size: 2.5em;}

  h2 {font-size: 2em;}

  h3 {font-size: 1.3em;}

  h4 {font-size: 16px;}

  p {font-size: 14px;}
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {font-size: 3em;}

  h2 {font-size: 2em;}

  h3 {font-size: 1.4em;}

  h4 {font-size: 17px;}

  p {font-size: 15px;}
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) {
  h1 {font-size: 4em;}

  h2 {font-size: 3em;}

  h3 {font-size: 1.5em;}

  h4 {font-size: 18px;}

  p {font-size: 16px;}
}
/*
  Animação com JavaScript Scroll
*/
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime='depth'] {
  transform: translate3d(0,0,-100px);
}

[data-anime='top'] {
  transform: translate3d(0,-100px,0);
}

[data-anime='left'] {
  transform: translate3d(-100px,0,0);
}

[data-anime='right'] {
  transform: translate3d(100px,0,0);
}

[data-anime='menu'] {
  transform: translate3d(100%,0,0);
}

.animateStart {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/*
  Animação CSS sem scroll
*/
@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveTop {
  from{
    opacity: 0;
    transform: translateY(-100%);
  }to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveLeft {
  from{
    opacity: 0;
    transform: translateX(-100%);
  }to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveRight {
  from{
    opacity: 0;
    transform: translateX(35%);
  }to {
    opacity: 1;
    transform: translateX(0%);
  }
}


