/*  ADICIONAR ESSA CLASSE NO ID MENSAGEM QUANDO ELA FOR EXIBIDA */
.mensagemSuccessReceive {
  text-align: center;
  padding: 5px 50px;
  border: 2px solid #59DF83;
  border-radius: 18px;
  color: #59DF83;
  margin: auto;
  font-weight: 600;
  margin: auto;
}
.containerApp {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.sectionAppArea {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
}
.sectionAppAreaRight {
  margin: 10px 5px 10px 15px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.sectionAppOne {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 74px;
  padding: 10px 5px;
  animation: fade 1s;
}
.sectionAppOneWallet {
  margin-left: auto;
  width: 250px;
  position: relative;
}

/* TABELAS */


.sectionAppTable {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  animation: fade 1s;
  animation-delay: 1.25s;
  overflow: hidden;
  animation-fill-mode: backwards;
}

.sectionAppTableTitle {
  padding: 10px 5px;
  width: 100%;
  animation: moveRight 1s;
  animation-delay: 1.75s;
  animation-fill-mode: backwards;
}

.sectionAppTableTitle,
.sectionAppTableItem {
  width: calc(100vw - 321px);
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  color: #9A9A9A;
  padding: 15px 0px;
  font-weight: 600;
  margin-bottom: 30px;
}
.sectionAppTableItem {
  margin-bottom: 15px;
  text-transform: none;
  animation: moveRight 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
.sectionAppTableTitle p {
  margin: 0px 15px 0 15px;
}
.sectionAppTableItem p {
  margin: 0px 15px 0 15px;
  font-size: 16px;
}
.sectionAppTableItem:nth-child(even) {
  background-color: #F5FEFB;
}
.sectionAppTableItem:nth-child(odd) {
  background-color: #E9FAF4;
}

.sectionAppTableTitle .desc,
.sectionAppTableItem .desc {
  min-width: 40%;
  max-width: 40%;
  text-align: start;
  word-wrap:break-word
}
.sectionAppTableTitle .date,
.sectionAppTableTitle .category,
.sectionAppTableTitle .enrollment,
.sectionAppTableItem .date,
.sectionAppTableItem .category,
.sectionAppTableItem .enrollment {
  min-width: 10%;
  max-width: 10%;
  text-align: start;
}
.sectionAppTableTitle .price,
.sectionAppTableItem .price {
  min-width: 15%;
  max-width: 15%;
  display: flex;
  align-items: center;
}
.sectionAppTableItem .price img {
  margin: 0 0 0 auto;
}


@media (max-width: 575px) { 
  
  .sectionAppTable {
    margin-bottom: 70px;
  }
  .sectionAppAreaRight {
    margin: 10px 5px 10px 5px;
  }
  .sectionAppTableTitle, 
  .sectionAppTableItem {
    width: calc(100vw - 30px);
  }
  .sectionAppTableTitle .desc,
  .sectionAppTableItem .desc {
    max-width: 45%;
    min-width: 45%;
  }
  
  .sectionAppTableTitle .price,
  .sectionAppTableItem .price {
    min-width: 40%;
    max-width: 40%;
    margin-right: 0;
  }
  .sectionAppTableTitle p,
  .sectionAppTableItem p {
    font-size: 12px;
    margin: 0px 8px 0 8px;
  }
  .sectionAppTableTitle .date,
  .sectionAppTableTitle .category,
  .sectionAppTableTitle .enrollment,
  .sectionAppTableItem .date,
  .sectionAppTableItem .category,
  .sectionAppTableItem .enrollment {
    display: none;
  }

}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sectionAppAreaRight {
    margin: 10px 5px 10px 5px;
  }
  .sectionAppTable {
    margin-bottom: 70px;
  }
  .sectionAppTableTitle, 
  .sectionAppTableItem {
    width: calc(100vw - 30px);
  }
  .sectionAppTableTitle .desc,
  .sectionAppTableItem .desc {
    max-width: 45%;
    min-width: 45%;
  }
  .sectionAppTableTitle .date,
  .sectionAppTableItem .date {
    min-width: 18%;
    max-width: 18%;
  }

  .sectionAppTableTitle .price,
  .sectionAppTableItem .price {
    min-width: 25%;
    max-width: 25%;
    margin-right: 0;
  }
  .sectionAppTableTitle p,
  .sectionAppTableItem p {
    font-size: 14px;
    margin: 0px 8px 0 8px;
  }
  .sectionAppTableTitle .category,
  .sectionAppTableTitle .enrollment,
  .sectionAppTableItem .category,
  .sectionAppTableItem .enrollment {
    display: none;
  }
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionAppTable {
    margin-bottom: 70px;
  }
  .sectionAppTableTitle, 
  .sectionAppTableItem {
    width: calc(100vw - 30px);
  }
  .sectionAppTableTitle .desc,
  .sectionAppTableItem .desc {
    max-width: 30%;
    min-width: 30%;
  }
  .sectionAppTableTitle .price,
  .sectionAppTableItem .price {
    min-width: 20%;
    max-width: 20%;
  }
  .sectionAppTableTitle p,
  .sectionAppTableItem p {
    font-size: 14px;
  }
  .sectionAppAreaRight {
    margin: 10px 5px 10px 5px;
  }
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionAppTableTitle .desc,
  .sectionAppTableItem .desc {
    max-width: 25%;
    min-width: 25%;
  }
  .sectionAppTableTitle .price,
  .sectionAppTableItem .price {
    min-width: 20%;
    max-width: 20%;
  }
  .sectionAppTableTitle p,
  .sectionAppTableItem p {
    font-size: 14px;
  }
  .sectionAppTableTitle .date,
  .sectionAppTableTitle .category,
  .sectionAppTableItem .date,
  .sectionAppTableItem .category{
    min-width: 12%;
    max-width: 12%;
  }
  .sectionAppTableTitle .enrollment,
  .sectionAppTableItem .enrollment {
    min-width: 9%;
    max-width: 9%;
}
  
}
@media (min-width: 1200px) { }